
.carusel{
	padding: 81px 0px;
	&__inner{
		max-width: 750px;
		margin: 0 auto;
		position: relative;
		img{
			max-width: 100%;
			margin: 0 auto;
		}
	}
	.slick-prev{
		top: 50%;
		top: translateY(-50%);
		left: -66px;
		background: none;
		position: absolute;
		img{
			width: 31px;
			height: 50px;
			fill: $main-color;
		}
	}
	.slick-next{
		top: 50%;
		top: translateY(-50%);
		right: -66px;
		background: none;
		position: absolute;
			img{
				width: 31px;
				height: 50px;
			}
	}
}

.lick-slide{
	width: 100%;
}

@media (max-width: 900px){
	.slick-prev{
		left: 0px!important;
		z-index: 1;
		img{
			width: 31px;
			height: 50px;
		}
	}
	.slick-next{
		right: 0px!important;
			img{
				width: 31px;
				height: 50px;
			}
	}
}